/* Copyright 2020-2021, 2024 Peter Oliver. */

/* This file is part of Boardgames Online. */
/* */
/* Boardgames Online is free software: you can redistribute it */
/* and/or modify it under the terms of the GNU General Public */
/* License as published by the Free Software Foundation, either */
/* version 3 of the License, or (at your option) any later version. */
/* */
/* Boardgames Online is distributed in the hope that it will be */
/* useful, but WITHOUT ANY WARRANTY; without even the implied */
/* warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. */
/* See the GNU General Public License for more details. */
/* */
/* You should have received a copy of the GNU General Public License */
/* along with Boardgames Online.  If not, see */
/* <https://www.gnu.org/licenses/>. */

label {
    display: inline-block;
    padding: 0.5ex;
    margin: 0.5ex;
    background-color: #f6f6f6;
}

div.filters label {
    display: inline-block;
    text-align: right;
    width: 35ch;
}
div.filters label.ratings {
    text-align: center;
}
.filters {
    display: none;
}
label.count input, label.ratings input  {
    width: 5ch;
}
label.ratings.sf3 input {
    width: 6ch;
}
label.ratings.sf4 input {
    width: 7ch;
}
div.query {
    border-color: #f6f6f6;
    border-style: solid;
    margin-bottom: 1ex;
}

div.ui-slider {
    margin-left: 1ch;
    margin-right: 1ch;
}

.pagination {
    visibility: hidden;
}
div.controls {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

div#listing, div#listing > table, div.error, a.collection {
    display: none;
}
aside {
    font-size: smaller;
}
div#listing > img.spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
table {
    border-collapse: collapse;
}
caption {
    margin: 1ex;
}
tr, td, th {
    border-style: solid;
    border-color: #f6f6f6;
}
td {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
td.thumbnail {
    text-align: center;
    padding: 0;
}
td.summary, th.summary {
    display: none;
}
td.decimal {
    text-align: "." center;
}
td.integer {
    text-align: right;
}
td.decimal, td.integer {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
.rising :first-child {
    color: green;
}
.falling :first-child {
    color: red;
}
ul.links {
    padding-left: 24px;
}
ul.links > li {
    padding-left: 1ex;
}
ul.links > li > span {
    display: flex;
    justify-content: space-between;
}
.advice {
    font-family: "Source Code Pro", monospace;
    font-size: x-small;
}
a.edit {
    text-decoration: none;
    margin-left: 1em;
}
ul.links > li.add {
    list-style: none;
}

div.pagination {
    text-align: center;
}

@media screen and ( max-width: 768px ) {
    td.thumbnail img {
        max-width: 100px;
    }
    td.average, th.average,
    td.yearpublished, th.yearpublished {
        display: none;
    }
}
@media screen and ( max-width: 512px ) {
    thead {
        display: none;
    }
    tr {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-left-style: none;
        border-right-style: none;
        border-bottom-style: none;
    }
    td, th {
        border-style: none;
        padding-left: 0;
        padding-right: 0;
        margin-top: 1ex;
        margin-bottom: 1ex;
    }
    th.name {
        order: -1;
    }
    td.thumbnail img {
        max-width: none;
        box-shadow: 0 0 1ex black;
    }
    td.summary {
        display: inherit;
    }
    td.position, th.position,
    td.rank, th.rank,
    td.minplayers, th.minplayers,
    td.maxplayers, th.maxplayers,
    td.playingtime, td.playingtime {
        display: none;
    }
    ul.links {
        margin-top: 0;
        margin-bottom: 0;
    }
}

.tablesorter-default .header,
.tablesorter-default .tablesorter-header {
    background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
}
.tablesorter-default thead .headerSortUp,
.tablesorter-default thead .tablesorter-headerAsc,
.tablesorter-default thead .tablesorter-headerSortUp {
    background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-default thead .headerSortDown,
.tablesorter-default thead .tablesorter-headerDesc,
.tablesorter-default thead .tablesorter-headerSortDown {
    background-image :url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
.tablesorter-default thead .sorter-false {
    background-image: none;
    cursor: default;
}
